* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #ffffff;
    
}
h1 {
    font-size: 3.75rem;
}
h2 {
    font-size : 1.875rem;
    color: #000000;

}
h3 {
    font-size : 1.875rem;
    
}

a {
    color: inherit;
    text-decoration: none;
}


