//bleu : #615f7d
//pink :  #d996ac
// green : #77c1ab
.featured {
    margin-bottom: 98px;
}
.featured-content-item {
    
    h3 {
        padding-top: 50px;
        margin-bottom: 32px;
        margin-left:  44px 
    };
    p {
        margin-bottom: 44px;
        margin-left:  44px 


    };
    span {
        display: inline-block;
        margin-bottom: 60px;
        margin-left:  44px 

    }
}
.pink  {
    background-color: #d996ac;
}
.blue  {
    background-color:#615f7d;

}
.green {
    background-color: #77c1ab;
 
}
.sign  {
    background: url(../img/Layer5.png) center no-repeat;
    background-size: cover;
}
.ourclients {
    background: url(../img/Layer6.png) center no-repeat ;
    background-size: cover;;

}
.green {
    background-color: #77c1ab;
 
}